body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    display: grid;
    padding: 30px;
}

.projects {
    display: grid;
}


.todo-card {
    display: grid;
    padding: 20px;
}