@font-face {
    font-family: Merriweather-sans;
    src: url(fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: DMmono;
    src: url(fonts/DM_Mono/DMMono-light.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --todo-bg-color: #CDD7D6;
    --todo-txt-color: #102542;
    --todo-bdr-color: #B3A394;

    --todo-title-font: Merriweather-sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --todo-body-font: DMmono, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Priority levels accent colors */
    --todo-lp-accent: #B3A394;
    --todo-mp-accent: #102542;
    --todo-hp-accent: #F87060;

    /* expand minimize icon colors */
    --xm-color: #102542;
    --xm-hover-color: #F87060;

}


.todo-card {
    color: var(--todo-txt-color);
    font-family: var(--todo-body-font);

    background-color: var(--todo-bg-color);
    padding: 1rem;
    border-radius: 0.5rem;
    border-left: solid 0.5rem;

    display: grid;
    grid-template-columns: minmax(100px, 1fr) 7rem;
    gap: 0.5rem;

    grid-column: 1/-1;
}

.collapsed {
    grid-column: auto;
}

.todo-card > :nth-child(n + 3) {
    grid-column: 1 / -1;
}


.low-priority {
    border-color: var(--todo-lp-accent);
}

.medium-priority {
    border-color: var(--todo-mp-accent);
}

.high-priority {
    border-color: var(--todo-hp-accent);
}

.todo-card > header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2lh;
}

.todo-card > header > :first-child {
    font-family: var(--todo-title-font);
}

.collapsed :nth-child(n + 4) {
    display: none;
}

.divider {
    border-top: solid 1px var(--todo-txt-color);
    opacity: 0.2;
}


.manage-todo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.manage-todo > :hover {
    color: var(--xm-hover-color);
}

.expand > :last-child{
    display: none;
}

.minimize > :first-child{
    display: none;
}

.minimize > :last-child {
    transform: translateY(-7px);
}

.priority-toggle {
    border: solid 1px var(--todo-bdr-color);
    border-radius: 1rem;
}

.todo-card > header > * {
    height: 1lh;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.todo-card > header > :first-child {
    font-family: var(--todo-title-font);
    font-size: 1rem;
    font-weight:normal;
}

.todo-card > header > :last-child  {
    opacity: 0.7;
}

.checklist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

textarea {
    resize: none;
    overflow: auto;
    padding: 4px;
    border: 0;
    height: 15lh;
    width: 100%;
    background-color: var(--todo-bg-color);
    outline: none;
}

.checklist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.checklist > button:hover {
    color: #F87060;
}
.checklist > div {
    display: flex;
    width: 100%;
}
.checklist input[type="text"]{
    background: #CDD7D6;
    border: none;
    outline: none;
    flex-grow: 1;
    flex-basis: 100%;
}